body{
    background-color: #a91ae2;
    text-align: center;
    text-decoration: rgb(16, 26, 169);
    display: flex;
    justify-content: center;
}
p   {
        color: rgba(236, 20, 20, 0.779);    
    }